/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --backgroundColor: #000028;
  --backgroundAccentColor: #ff0070;
  --textAccentColor: #000028;
  --accentColor: #ff0070;
  --titleColor: #db00ff;
  --fontColor: #f1b2ce;
  --backgroundImage: url('../images/cover-image-dark.png');
  --borderHover: rgba(255, 0, 112, 0.4);
  --recVisibility: visible;
}

@media (prefers-color-scheme: Dark) {
  :root {
    --backgroundColor: #000028;
    --backgroundAccentColor: #ff0070;
    --textAccentColor: #000028;
    --accentColor: #ff0070;
    --titleColor: #db00ff;
    --fontColor: #f1b2ce;
    --backgroundImage: url('../images/cover-image-dark.png');
    --borderHover: rgba(255, 0, 112, 0.4);
    --recVisibility: visible;
  }
}
