/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --backgroundColor: #fff1f7;
  --backgroundAccentColor: #ff8dcb;
  --textAccentColor: #353430;
  --accentColor: #353430;
  --titleColor: #ffc2e6;
  --fontColor: #353430;
  --backgroundImage: url('../images/cover-image-light.png');
  --borderHover: rgba(50, 49, 45, 0.4);
  --recVisibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --backgroundColor: #fff1f7;
    --backgroundAccentColor: #ff8dcb;
    --textAccentColor: #353430;
    --accentColor: #353430;
    --titleColor: #ffc2e6;
    --fontColor: #353430;
    --backgroundImage: url('../images/cover-image-light.png');
    --borderHover: rgba(50, 49, 45, 0.4);
    --recVisibility: hidden;
  }
}
